/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FuturaBook";

  src: url("./fonts/FuturaBook.svg") format("svg"), /* Legacy iOS */
    url("./fonts/FuturaBook.woff") format("woff"), /* Modern Browsers */
    url("./fonts/FuturaBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}